name: Deploy app

on:
  push:
    branches:
      - devel
      - stage
      - prod

jobs:
  deploy_infra:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/terraform
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Terraform init
        run: terraform init -backend-config="key=${{ github.ref_name }}/terraform.tfstate"

      - name: Terraform plan
        run: terraform plan

      - name: Terraform apply
        run: terraform apply -auto-approve

  deploy_app:
    needs: [deploy_infra]
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 15.0.1

      - name: Install
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy app
        run: aws s3 cp ./build/ s3://${{ github.ref_name }}--fsl-cgomez --recursive